* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-kerning: auto;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

summary {
    cursor: pointer;
}

#app {
    position: relative;
    width: 100%;
    height: 100%;
}

#header {
    width: 100;
    height: 50px;
    background: #DDD;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
}

#test {
    width: 100%;
    height: 100%;
    position: relative;
}

#renderer {
    width: 100%;
    height: 100%;
}

#export {
    width: 100%;
    height: 100%;
    background: hotpink;
}

#exportA {
    width: 100%;
    height: 100%;
}

/** Details **/
details > summary {
  list-style: none;
  padding: 0 4px;
}
details summary::-webkit-details-marker {
  display:none;
}

/** Library **/

#library {
    margin-bottom: 1em;
}

#library div.label {
    width: 100%;
    background: #333;
    color: #EEE;
}

.library_tabs {
    width: 100%;
    background: #DDD;
    margin-bottom: 4px;
    border-bottom: 1px solid #444;
}

.library_tabs button {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #444;
    background: #DDD;
    cursor: pointer;
    margin: 0;
    padding: 4px 6px;
}

.library_tabs button.active {
    background: #444;
    color: #FFF;
}

#library_content {
    background: #EEE;
}

.library_group summary {
    border-bottom: 1px solid #444;
    cursor: pointer;
}

.library_object {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

/** Decals **/

.decal_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.snapButton.active {
    background: dodgerblue;
    color: white;
}

/** Nodes **/
#nodes > div.label {
    width: 100%;
    background: #333;
    color: #EEE;
}

#nodes_content {
    background: #EEE;
}

.node .label {
    cursor: pointer;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
    background: #DDD;
    border-bottom: 1px solid #222;
}
.node.active .label {
    background: dodgerblue;
}
.node .node_content {
    display: none;
}
.node.active .node_content {
    display: block;
    width: 100%;
    padding-left: 6px;
}

/** Controls **/
.color_control, .material_control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/** Visibility Toggle **/
.node.active .label .toggle i {
    color: #FFF;
}

.toggle input[type='checkbox']{
  /* display:none; */
  height: 0px;
}
.toggle i.mdi{
 cursor: pointer;
}

/* Node param controls */

.node_param {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.picker {
    position: relative
}
.Scp-hue {
    float: none !important;
    position: absolute !important;
    top: 0;
    right: 0;
}
.filter {
    width: 540px;
    height: 540px;
    overflow-y: auto
}